* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  background: #ede8e0;
  color: #ffffff;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 48px;
  border-bottom: 1px solid #7d1f2e;
}

.logo {
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
  color: #7d1f2e;
  letter-spacing: 3px;
}

.nav-links a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 28px;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #a3293b;
  font-size: 15px;
  transition: 0.5s ease;
}

.nav-links a.cta {
  color: #ffffff;
  padding: 9px 20px;
  font-weight: 500;
  background-color: #7d1f2e;
}

section {
  height: 100vh;
  text-align: center;
}

#drakt {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.hjemme {
  height: 600px;
  width: 400px;
  border: #7d1f2e 2px solid;
  border-radius: 20px;
  margin-top: 40px;
}

.borte {
  height: 600px;
  width: 400px;
  border: #7d1f2e 2px solid;
  border-radius: 20px;
  margin-top: 40px;
}

div {
  text-align: left;
}

h3 {
  font-size: 30px;
  font-family: cursive;
  color: #7d1f2e;
  border-bottom: #ffffff 1px solid;
}

h1 {
  font-size: 45px;
  font-family: cursive;
  color: #7d1f2e;
  border-bottom: #ffffff 2px solid;
  width: 400px;
  text-align: left;
  margin-top: 100px;
  margin-bottom: 50px;
}

#priser {
  text-align: center;
  height: 80vh;
  display: flex;
  text-align: center;
  justify-content: center;
}
.kortraad {
  display: flex;
  gap: 30px;
}

.kort {
  background: rgb(255, 254, 254);
  border: 1px solid #e0e0e0;
  border: #7d1f2e 2px solid;
  border-radius: 12px;
  text-align: left;
  padding: 50px;
  width: 400px;
}

.kort p {
  margin: 0 0 6px 0;
  font-size: 18px;
  color: #888;
}

.kort h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 14px 0;
  color: #111;
}

.prisrad {
  display: flex;
  justify-content: space-between;
  margin: 0 0 6px 0;
  font-size: 16px;
  color: #555;
}

.prisrad span:last-child {
  font-weight: 500;
  color: #111;
}

.prisrad.billig span:last-child {
  color: green;
}

footer {
  padding: 28px 48px;
  border-top: 1px solid #7d1f2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer span {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1px;
}

@media (width < 900px) {
  #drakt {
    height: 120vh;
    flex-direction: column;
    gap: 50px;
    margin-top: 40px;
  }

  .hjemme {
    height: 400px;
    width: 300px;
    margin-top: 20px;
  }

  .borte {
    height: 400px;
    width: 300px;
  }
  #priser{
    height: 120vh;
  }

  
  .kortraad{
    flex-direction: column;
  }

  .kort {
  
  padding: 30px;
  width: 300px;
}

  a {
    display: none;
  }
}
