* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  background: #ede8e0;
  color: #ffffff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 48px;
  border-bottom: 1px solid #7d1f2e;
}

.logo {
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
  color: #7d1f2e;
  letter-spacing: 3px;
}

.nav-links a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 28px;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #a3293b;
  font-size: 15px;
  transition: 0.5s ease;
}

.nav-links a.cta {
  color: #ffffff;
  padding: 9px 20px;
  font-weight: 500;
  background-color: #7d1f2e;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
  align-items: center;
  padding: 80px 48px;
  border-bottom: 1px solid rgba(197, 163, 98, 0.15);
}

.hoyrediv {
  padding: 30px;
  margin-left: 40px;
}

.ovrediv {
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #7d1f2e;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 80px;
  font-weight: 600;
  line-height: 0.92;
  margin-bottom: 24px;
  padding-top: 10px;
  line-height: 1.1;
  text-shadow: 2px 1px 5px black;
}

h1 em {
  color: #7d1f2e;
  font-style: italic;
  padding: 10px;
}

.litentext {
  font-size: 15px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.8;
  margin-bottom: 36px;
  max-width: 380px;
}

.buttons {
  display: flex;
  gap: 16px;
  align-items: center;
}

.btn-rød {
  background: #7d1f2e;
  color: #ffffff;
  border: none;
  padding: 14px 28px;
  font-family: "Jost", sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-rød:hover {
  font-size: 13px;
  transition: 0.5s ease;
}

.btn-text {
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Jost", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-text:hover {
  color: #7d1f2e;
  font-size: 16px;
  transition: 0.5s ease;
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
  border: 2px solid rgba(52, 52, 52, 0.15);
}

.stat {
  padding: 28px;
  border: 1px solid rgb(98, 14, 14);
  gap: 0px;
}

.stat .number {
  font-family: "Cormorant Garamond", serif;
  font-size: 52px;
  font-weight: 600;
  color: #7d1f2e;
  line-height: 1;
}

.stat .litenp {
  font-size: 11px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.75);
  padding-top: 5px;
}

.cards {
  display: flex;
  gap: 1px;
  max-width: 100%;
  background: rgba(197, 163, 98, 0.12);
  border-top: 1px solid #7d1f2e;
}

.card {
  background: #f6f1ea;
  padding: 50px;
  cursor: pointer;
  max-width: 489px;
}

.card .line {
  width: 400px;
  height: 1px;
  background: #7d1f2e;
  margin-bottom: 16px;
}

.card h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 22px;
  font-weight: 600;
  color: #7d1f2e;
  margin-bottom: 8px;
}

.card p {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.35);
  line-height: 1.6;
}

.card .bunnp {
  display: block;
  font-size: 11px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #7d1f2e;
  margin-top: 16px;
}

footer {
  padding: 28px 48px;
  border-top: 1px solid #7d1f2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer span {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1px;
}

.bunnp:hover {
  font-size: 13px;
  transition: 0.5s ease;
}

@media (width < 800px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 44px;
    align-items: center;
    padding: 60px 38px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  a{
    display: none;
  }
}
